*{
    font-family: 'Inter', sans-serif;
}
body{
    background: #f5f5f5;
}
.wrapper{
    max-width: 960px;
    min-width: 600px;
    background: #FFFFFF;
    margin: 100px auto;
    position: relative;
}
.profile-container{
    position: absolute;
    top: 50px;
    margin-left: 7%;
    width: 93%;
    height: 230px;
    background: #B0D4DF;
    display: flex;
    border-radius: 115px 0 0 115px;
}
.profile{
    margin-top: 15px;
    margin-left: 15px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}
.name{
    width: 200px;
    font-weight: 700;
    font-size: 2rem;
}
.name-box{
    position: relative;
    left: 10%;
    top: 20px;
}
.tagline{
    font-weight: 400;
    color: #006585;
}
.sidebar-wrapper{
 width: 38%;
 padding: 10px;
 background: rgba(196, 196, 196, 0.3);
 position: relative;
 padding-top: 300px;
}
.contact-container {
    
}
.contact-item{
    list-style: none;
    display: flex;
    margin-top: 10px;
    font-size: 1.2rem;

    
}
.contact-item a{
    display: block;
    text-decoration: none;
    color: black;

    
}
.contact-item i{
    margin-right: 10px;
    color: #289fc3;
}
.main-container{
    
    display: flex;
}
.summary{
    margin-top: 300px;
}

@media (max-width: 900px) {
    .sidebar-wrapper{
        width: 100vw;
        background: rgba(196, 196, 196, 0.3);
        position: relative;
        padding-top: 300px;
       }
  }